.edit-rooms-page{
margin: 20px;
padding-top: 40px;
}

.edit-rooms-page {
  padding: 20px;
}

.room-card {
  background: #f5f5f5;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.room-card label {
  display: block;
  margin-top: 10px;
}

.floor-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-add-floor,
.btn-add-room,
.save-btn {
  background: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
